* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    width: auto;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    /* background-color: rgba(52, 52, 166, 0.521); */
    color: #fff;

}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    display: flex;
    font-size: 32px;
}

.logo p {
    font-size: 1rem;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgba(0, 128, 87, 0.781);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 39, 39);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(80, 142, 82);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 100;

    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li {
        margin-top: 12px;
        font-size: 2rem;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }
}

.background {
    background-image: url(./image/h1_hero1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

#container {
    min-height: 50vh;
    padding: 0rem 5% 2rem;
    position: relative;
    display: flex;
    align-items: center;
}


.cont .text {
    max-width: 44rem;
    color: white;
    line-height: 2;

}

.cont .text strong {
    background-color: rgb(13, 190, 13);
}

.cont .text p {
    font-size: 2rem;
    font-weight: 500;
    line-height: .3;
    padding: 10px;
    color: white;
}

.text h4 {
    font-size: 3rem;
    font-weight: 700;
}

.text h5 {
    font-size: 2.3rem;
    font-weight: 300;
}

.text button {
    height: auto;
    width:auto;
    font-size: 30px;
    background-image: linear-gradient(green, yellow);
    margin-top: 1rem;
}




.head {
    font-size: 2.3rem;
    align-items: center;
    line-height: 8;
}

.head span {
    color: rgb(70, 243, 136);
}

.About h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4;
    /* margin-top: 50px; */
}


.About {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    text-align: center;
    height: 500px;



}

.About p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: w;
}

.About_img {
    width: 100%;
    margin: auto;


    /* background: transparent; */
}

.about_box {
    width: 100%;
    text-align: justify;
}

.about_box p {
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 2;

}



.skills {
    /* margin-top:5rem; */
    width: 100%;
    line-height: 2;

}

.midimg {
    /* width: 100%; */
    margin: auto;
}


.skill {
    border-radius: 10px;
    width: 90%;
    height: 20px;
    background-color: rgba(110, 111, 111, 0.486);
    /* color: black; */

}


.service {
    min-height: auto;
    margin-top: rem;
}

.service h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 6;
}

.service h2 span {
    color: rgb(36, 246, 169);
}

#service_container {
    background-image: url(./image/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    /* justify-content: center; */
    grid-template-columns: auto auto auto auto auto ;
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.portfolio_layer .squar {
    height: 200px;
    width: 50px;
    border: 3px solid white;
    position: relative;
    background: transparent;
    backdrop-filter: blur(8px);
}

.portfolio_layer .squar {
    height: 200px;
    width: 50px;
    border: 3px solid white;
    position: relative;
    background: transparent;
    backdrop-filter: blur(8px);
}





.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.service_box,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.service_box {
    background-color: #bbb;
    color: black;
}


.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 50%;
}

#service_container .service_box {
    padding: 0rem 2rem 4rem;
    border-radius: 10rem;
    box-shadow: 0.1rem .5rem rgb(102, 245, 109);
    background-color: rgb(245, 241, 241);
    text-align: center;
    border-top: .6rem solid rgb(102, 245, 131);
    border-bottom: .6rem solid rgb(102, 245, 176);
    /* transition: .5s ease; */
    transition: transform 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;

}

#service_container .service_box:hover {
    transform: scale(1.02);
    transform: rotateY(180deg);
    border-bottom: 1.2rem solid rgb(102, 245, 123);
}

.service_box i {
    font-size: 1.6rem;
    color: rgb(102, 245, 133);
}



.service_box h3 {
    font-size: 2.6rem;
    line-height: 3;
    font-weight: 300;
    transition: .5 ease;
    color: white;
}


.service_box:hover h3 {
    color: rgb(102, 245, 162);

}

.service_box p {
    font-size:15px;
    color: rgba(9, 9, 9, 0.913);
}

 .btn {
    border: 1px solid rgb(0, 255, 132);
    color: white;
    transition: 0.3s;
    font-size: 1.3rem;
    padding: 10px 20px;
    top:40px;
    background:linear-gradient(green, yellow);
    /* background-color: green; */
}

.service_btn {
    border: 1px solid rgb(0, 255, 132);
    margin-top:2rem;
    color: white;
    transition: 0.3s;
    font-size: 1.3rem;
    /* top:50px; */
    background:linear-gradient(green yellow);
    /* background-color: green; */

}



.btn :hover {
    background-color: white;
    color: rgb(94, 48, 231);
}



.Portfolio {
    /* margin: 5rem 6rem; */
    min-height: 90%;
    margin: auto;
}


.Portfolio h3 {
    font-size: 2.3rem;
    text-align: center;
    line-height: 5;
}

.Portfolio span {
    color: rgb(247, 185, 69);
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* gap: 2rem; */

}

.portfolio_container .portfolio_box {
    position: relative;
    box-shadow: 0 0 1rem rgna(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio_box img {
    width: 100%;
    height: auto;
    transition: .5s ease;
    position: relative;
}


.portfolio_box:hover img {
    transform: scale(1.1);
}

.portfolio_box .portfolio_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1) rgb(86, 209, 33));
    background-color: rgba(103, 237, 186, 0.356);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0 4rem;
    opacity: .0;
    transition: .5s ease;

}

.portfolio_box:hover .portfolio_layer {
    opacity: 1;
}

.portfolio_layer h4 {
    position: absolute;
    margin-bottom: 20rem;
    color: rgb(8, 24, 19);
    text-align: justify;
    font-size: 2.7rem;

}

.portfolio_layer p {
    font-size: 1.4rem;
    margin: .3rem 0 1rem;
    position: absolute;
    width: 300px;
    color: black;
    text-align: center;

}

.portfolio_layer .squar {
    height: 450px;
    width: 330px;
    border: 3px solid white;
    position: relative;
    background: transparent;
    backdrop-filter: blur(8px);



}

.squar:hover {
    backdrop-filter: blur(8px);
    border: 3px solid white;



}


.portfolio_layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;

}

.portfolio_layer a i {
    font-size: 2rem;
    color: rgb(58, 56, 56);
}

.section_container {
    margin: 10px 10px;
    padding: 5px 5px;
}




.Contact form {

    max-width: 90rem;
    margin: 1rem auto;
    text-align: center;
    line-height: 7;

}

.Contact h2 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    /* margin-top: 2rem; */
}

.Contact span {
    color: rgb(68, 68, 248);
}

.contact_box input {
    padding: 10px 15px;
    margin: 1rem 1rem;
    font-size: 1.3rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    /* color: rgb(181, 22, 22); */

}

.contact_box .btn {
    font-size: 1.2rem;
    width: 15rem;
    background-color: aqua;
    color: rgb(239, 236, 236);
    border-radius: 15px;
    /* margin-bottom: 5rem; */
}

.footer {

    background-color: black;
    color: white;
}

.footer_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 10px;
}

.footer_ul {
    text-align: left;
    display: flex;
    font-size: 1.5rem;
    gap: .5rem;

}

.footer_ul li a {
    color: white;
}

.footer_location p {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 15px;
}

.About_co p {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 15px;

}

.About_co i {
    padding: 10px 10px;
    font-size: 1.5rem;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
}



@media screen and (max-width:449px) {
    #service_container {
        grid-template-columns: auto;
        text-align: center;

    }

    .About {
        flex-direction: column;
        margin-top: 35rem;
        text-align: center;
        margin-bottom: 25rem;
    }

    .midimg img { 
        width: 250px;
       
    }

    .portfolio_container {
        grid-template-columns: auto;

    }
    .service{
        margin-top: 39rem;
    }


    .section {
        display: none;
    }

    .contact_box {
        width: 100%;
    }

    .cont .text {
        margin-bottom: 6rem;
    }

    #container {
        margin-top: 3rem;
    }

    #textarea {
        width: 70%;
    }

    .service h2 {
        font-size: 1.8rem;
    }

    .service_box {
        width: 100%;
    }

    .footer_box {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        text-align: center;
    }


    .portfolio_layer .squar {
        height: 250px;
        width: 200px;
        border: 3px solid white;
        position: relative;
        background: transparent;
        backdrop-filter: blur(8px);



    }
    

    .portfolio_layer h4 {
        position: absolute;
        margin-bottom:7.2rem;
        color: rgb(22, 22, 22);
        margin-left:3rem;
        font-size: 20px;

    }

    .portfolio_layer p {
        font-size: 1rem;
        margin: .6rem 0 1rem;
        position: absolute;
        width: 150px;
        margin: auto;
        color: black;
        margin-left:1rem;
        

    }

    .Portfolio {
        /* margin: 5rem 6rem; */
        min-height: 90%;
        margin: auto;
    }
    
    
}




@media only screen and (min-width:450px) and (max-width:650px) {

    #service_container {
        grid-template-columns: auto ;
        text-align: center;

    }

    .About {
        flex-direction: column;
        margin-top: 27rem;
        text-align: center;
       
    }
   
        
    

    .midimg img {
        height: 250px;
        width: 250px;
        /* margin-right: 10px; */
    }
    .miding .heading{
        margin-top: 2rem;
       
    }

    .portfolio_container {
        grid-template-columns: auto;

    }
   .service{
    height: auto;
    margin-top: 30rem;
   }

    #service_container {
        flex-direction: column;
    }

    .section {
        display: none;
    }

    .contact_box {
        width: 100%;
    }

    .cont .text {
        margin-bottom: 6rem;
    }

    #container {
        margin-top: 3rem;
    }

    #textarea {
        width: 70%;
    }

    .service h2 {
        font-size: 1.8rem;
    }

    .service_box {
        width: 100%;
    }

    .footer_box {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        text-align: center;
    }


    .portfolio_layer .squar {
        height: 250px;
        width: 200px;
        border: 3px solid white;
        position: relative;
        background: transparent;
        backdrop-filter: blur(8px);



    }
    .squar{
        margin-left: 9rem;
    }

    .portfolio_layer h4 {
        position: absolute;
        margin-bottom: 12rem;
        color: aqua;
        margin-left:12rem;
        font-size: 1.3rem;

    }

    .portfolio_layer p {
        font-size: 1rem;
        margin: .3rem 0 1rem;
        position: absolute;
        width: 150px;
        margin: auto;
        color: black;
        margin-left:10rem;
        

    }

    .Portfolio {
        min-height: 90%;
        margin: auto;
    }
   




}

@media only screen and (min-width:650px) and (max-width:1000px) {
    .cont {
        justify-content: center;
    }

    .portfolio_container {
        grid-template-columns: auto auto;
    }

    .portfolio_box img {
        height: 400px;

    }

    #service_container {
        grid-template-columns: auto auto ;
        text-align: center;

    }


    .About {
        flex-direction: column;
        margin-top: 27rem;
        text-align: center;
        
    }


    .section {
        display: none;
    }


    .skill {
        /* margin-top:5rem; */
        /* width: 100%; */
        line-height: 2;
    
    }



    #textarea {
        width: 70%;
    }

    .portfolio_layer .squar {
        height: 250px;
        width: 200px;
        border: 3px solid white;
        position: relative;
        background: transparent;
        backdrop-filter: blur(8px);



    }

    .portfolio_layer h4 {
        position: absolute;
        margin-bottom: 12rem;
        color: aqua;
        margin-left: 3rem;
        font-size: 1rem;

    }

    .portfolio_layer p {
        font-size: 1rem;
        margin: .3rem 0 1rem;
        position: absolute;
        width: 190px;
        margin: auto;
        color: black;
        text-align: center;

    }

    .Portfolio {
        /* margin: 5rem 6rem; */
        min-height: 90%;
        margin: auto;
    }
    .service{
        margin-top:29rem;
    }


}

@media only screen and (min-width:1001px) and (max-width:1250px) {
    .section {
        display: none;

    }

    .About {
        margin-top: 2rem;
        gap: 2rem;
    }

    .cont {
        justify-content: center;
    }

    .section {
        top: 0%;
        transform: rotate(0deg);
        height: 850px;

    }

    .text {
        text-align: center;
        /* margin-right: 10rem; */
    }

    .midimg img {
        /* height: 400px; */
        width: 300px;
    }

    .About_img {
        width: 100%;
    }

    .About p {
        width: 100%;
        font-size: 1rem;
        line-height: 1.2;

    }

    .About_img img {
        height: 440px;
        width: 50%;
    }

    .about_box {
        width: 98%;
        margin: auto;
    }

    .portfolio_layer .squar {
        height: 250px;
        width: 200px;
        border: 3px solid white;
        position: relative;
        background: transparent;
        backdrop-filter: blur(8px);

    }



    .portfolio_layer h4 {
        position: absolute;
        margin-bottom: 12rem;
        color: aqua;
        margin-left: 3rem;
        font-size: 1rem;

    }

    .portfolio_layer p {
        font-size: 1rem;
        margin: .3rem 0 1rem;
        position: absolute;
        width: 190px;
        margin: auto;
        color: black;
        text-align: center;

    }

    .Portfolio {
        /* margin: 5rem 6rem; */
        min-height: 90%;
        margin: auto;
    }

    .portfolio_box img {
        height: 500px;
    }
    #service_container {
        grid-template-columns: auto auto auto ;
        text-align: center;

    }
    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
        border-radius: 50%;
    }
}
@media only screen and (min-width:1251px)and (max-width:1427px){
    .section {
        display: none;

    }

    .About {
        margin-top: 2rem;
        gap: 2rem;
    }

    .cont {
        justify-content: center;
    }

    .section {
        top: 0%;
        transform: rotate(0deg);
        height: 850px;

    }

    .text {
        text-align: center;
        /* margin-right: 10rem; */
    }

    .midimg img {
        /* height: 400px; */
        width: 300px;
    }
    

    .About_img {
        width: 100%;
    }

    .About p {
        width: 100%;
        font-size: 1rem;
        line-height: 1.2;

    }

    .About_img img {
        height: 440px;
        width: 50%;
    }

    .about_box {
        width: 98%;
        margin: auto;
    }

    .portfolio_layer .squar {
        height: 250px;
        width: 200px;
        border: 3px solid white;
        position: relative;
        background: transparent;
        backdrop-filter: blur(8px);



    }

    .portfolio_layer h4 {
        position: absolute;
        margin-bottom: 12rem;
        color: aqua;
        margin-left: 3rem;
        font-size: 1rem;

    }

    .portfolio_layer p {
        font-size: 1rem;
        margin: .3rem 0 1rem;
        position: absolute;
        width: 190px;
        margin: auto;
        color: black;
        text-align: center;

    }

    .Portfolio {
        /* margin: 5rem 6rem; */
        min-height: 90%;
        margin: auto;
    }

    .portfolio_box img {
        height: 500px;
    }
    #service_container {
        grid-template-columns: auto auto auto ;
        text-align: center;

    }
    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
        border-radius: 50%;
    }
    
}





@media only screen and (min-width:1428px) and (max-width:2000px) {
    .portfolio_box img {
        height: 500px;
    }

    .portfolio-warp {
        position: relative;
        display: block;
        overflow: hidden;
    }
    #service_container {
        grid-template-columns: auto auto auto  auto;
        text-align: center;

    }
}



